h1 {
	
    margin-top: 50px;
    margin-left: 50px;
}
p {
	
    margin-top: 12.5px;
    margin-left: 100px;
}
body {
    background-color: powderblue;
}
table {
    width: 300px;
    margin-top: 50px;
    margin-left: 100px;
    border-style: dotted;
    border-color: darkmagenta;
}
input {
    margin-top: 12.5px;
    margin-left: 100px;
}
button {
	margin-top: 12.5px;
  	margin-left: 50px;
}

