h2 {
	margin-top: 25px;
	margin-left: 25px;
}
h3 {
	margin-top: 25px;
	margin-left: 50px;
}
body {
    background-color: PowderBlue;
}
table {
    /*width: 0%;*/
    /*height: 0%;*/
    margin-top: 25px;
    margin-left: 50px;
    border-style: dashed;
    border-width: 5px;
    border-color: Black;
}
button, form {
		margin-top: 12.5px;
		margin-left: 50px;
		margin-bottom: 1px;
}
