h1 {
	margin-top: 25px;
	margin-left: 25px;
}
p {
	margin-top: 25px;
	margin-left: 50px;
}
body {
    background-color: PowderBlue;
}
form {
    /*width: 0%;*/
    /*height: 0%;*/
    margin-top: 12.5px;
    margin-left: 50px;
}
